.body{
    margin:20px;
    width:40%;
    height:fit-content;
    color:rgb(9, 9, 10);
    border:1px solid rgb(167, 53, 53);
    border-radius: 4px;
    background-color: burlywood;
    border:1px solid black;  
}


.h3{
    align-items: left;
 
}

.p{
    
    height:100px;
    word-break: break-all;
    margin-left: 18px;
    align-items: center;
 
}


.columns{
    display:grid;
    grid-template-columns:auto 300px;
    align-items: center;
    border:1px solid black;

}
.button{
    height:40px;
    margin-left:15px;
    width:75px;
    background-color: brown;
    color: burlywood;
    border-radius: 5px;
}

.bottom{
    height:40px;
  width:40%;
}
